body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* *****************la barre de navigation ********* * */
nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 0 25px;
  }
  nav .gauche{
    display: flex;
    flex-wrap:wrap;
  }
  nav .gauche img{
    padding-top: 5px;
  }
  nav .gauche .onglets{
    display: flex;
    flex-wrap:wrap;
    margin-left: 10px;
  }
  nav .gauche .onglets p{
    margin-left: 10px;
    cursor:pointer;
    color: #909191;
  }

nav .gauche .onglets p:hover{
    color: #fff;
}
nav .droite{
    display:flex; 
    flex-wrap: wrap;

}
nav .droite p{
    margin-right: 10px;
    cursor: pointer;
}
/* Fin de la barre de naviagtion */

/*les films et series */
.films-et-series{
    background-color: #191a1a;
    padding: 25px;
}
.films-et-series .section{
    margin-bottom: 55px;

}
.films-et-series .section h2{
    color: #fff;
}
.films-et-series .section .list{
   display: flex;
   overflow-x: auto;
}
.films-et-series .section . a{
    padding-left: 5px;
    transition: transform 0.25s;
   
 }
 .films-et-series .section . a:hover{
    transform:scale(1.05) ;
   
 }
 .films-et-series .section a img{
     height: 140px;
 }
/* fin des films et series */
footer{
    background-color: black;
    padding: 25px 100px;
    color: #909191;
}
footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;

}
/* fin du pied de page */